<%= form_for(@quote) do |f| %>

<br>

<% if @quote.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

  <ul>
    <% @quote.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">

  <div class='col-md-3'></div>

  <div class='col-md-6 text-center'>
    <%= f.text_area :quote, class: 'form-control', rows: '10' %>
  </div>

  <div class='col-md-3'></div>

</div>

<br><br>

<div class="actions">
  <%= f.button :submit, class: 'btn btn-success btn-lg' %>
</div>

<% end %>
