<div class='col-md-6 col-md-offset-3 dot'>
  <h3 class='quote'><%= @quote.clean_quote %></h3>
  <h4 class='quote'><%= "p. #{@quote.page_number}" %></h4>
</div>

<div class='col-md-6 col-md-offset-3'>
  <%= button_to vote_quote_path(@quote), method: :post, class: 'btn-very-large', remote: true do %>
  <span id='quote_<%= @quote.id %>_votes'><%= "#{@quote.votes.count} Identify" %></span>
  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>  
  <% end %>  
</div>