
<div class='col-md-6 col-md-offset-3'>
  <h1 class='quote'><%= @quote.clean_quote %></h1>
  <h4><%= @quote.page_number %></h4>
</div>

<div class='col-md-6 col-md-offset-3'>
  <span id='quote_<%= @quote.id %>_votes'><%= @quote.votes.count %></span>

  <%= link_to vote_quote_path(@quote), method: :post, remote: true do %>
  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>  
  <% end %>

  <span>Identify</span>

</div>